@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?apyikb');
  src:  url('../fonts/icomoon.eot?apyikb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?apyikb') format('truetype'),
    url('../fonts/icomoon.woff?apyikb') format('woff'),
    url('../fonts/icomoon.svg?apyikb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-user1:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-arrow-left:before {
  content: "\ea38";
}

body {
  margin: 0;
  font-family: sans-serif;
}
.header {
  width: 100%;
  background-color: #00395E;
  height: 77px;
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
  justify-content: center;
  position: fixed;
  z-index: 3;
}
/* .header img {
  margin-left: 50px;
} */

.wrapper {
  padding: 0 20px;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid pink; */
}

.menu {
  display: flex;
  /* border: 1px solid red; */
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  /* width: 300px; */
  /* justify-content: space-around; */
}

.menu li {
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 77px;
  height: 100%;
  padding: 0 10px;
  /* border: 1px solid green; */
}

.menu li a {
  display: inherit;
  width: inherit;
  height: 100%;
  /* border: 1px solid yellow; */
}

.menu li:hover {
  background-color: blue;
}

.icon {
  display: none;
  color: white;
  font-size: 2em;
}
.container-inicio {
  padding-left: 20px;
}

.container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  max-height: 700px;
  /* width: 800px; */
  /* border: 1px solid red; */
  align-items: center;
  padding-top: 77px;
}
.container.open {
  height: 80vh;
  justify-content: center;
}
.login {
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 10px 0;
}
.login input, .btn {
  margin: 12px 0;
  height: 40px;
  border: none;
  font-size: 17px;
  outline: 0; 
}
.login input {
  padding: 0 0 2px 12px;
  border-bottom: 1px solid #cfd2d5;
}
.login input::placeholder {
  color: #cfd2d5; 
}

input:focus {
  border-bottom: 2px solid #188fff; 
}
.btn {
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}
.btn.primary {
  background-color: #188fff;
  color: white;
}
.btn.acount {
  width: 300px;
  border: 2px solid #188fff;
  text-align: center;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: #188fff;
}

.login.registro {
  /* border: 1px solid red; */
  width: 350px;
  padding: 0 12px;
  height: 480px;
}
.info {
  text-align: center;
}
.info p {
  margin-bottom: 0;
}
.form-group {
  display: flex;
}
.form-group input {
  width: 51%;
}
.form-group input:first-child {
  margin-right: 10px;
}
.login.registro input {
  /* align-self: center; */
}
.desc {
  font-size: .8em;
  color: #979ba7;
  text-align: center;
}
.span-focus {
  color:#188fff;
}

.footer {
  height: 250px;
  background-color: #00395E;
}
.portada {
  padding-top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-wrap: wrap;
  background-image: url("../images/background.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.portada h1 {
  padding: 10px;
  font-size: 2em;
  border-radius: 8px;
  color: white;
  background-color: rgba(4, 5, 35, .78);
}


@media screen and (max-width: 768px) {
  .portada {
    background-position-x: center;
    background-position-y: 20px;
    background-position-y: 76px;
    height: 300px;
  }
  .icon {
    display: flex;
    cursor: pointer;
  }
  .icon-menu {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .menu.active {
    width: 100%;
    background-color: rgba(28, 54, 67, .9);
    z-index: 2;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 77px;
    right: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .menu li {
    height: auto;
    /* border: 1px solid red; */
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 40px;
  }

  .menu li:hover {
    background-color: unset;
  }
  .menu li:hover a {
    color: red;
    transition: .3s;
  }



}